<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="DBFilePath" value="./DataBase/"/>
      <add key="BackendType" value="0"/>
    </appSettings>
    <connectionStrings>
      <add name="MainConString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DemoPP;User ID=demopp;Password=1234;Encrypt=False"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>